body{
    background-image: url("https://i.pinimg.com/originals/93/01/25/9301258942733e3725f2757c18d1c441.jpg") ;
    background-size: cover;
    size: 100vh;
}

#rickymortyInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    margin-left: 30%;
    margin-top: -5%;
    
}

p{
    background-color: rgba(rgba(10, 46, 54, 0.816), green, blue, alpha);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;

}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

img{
    border-radius: 25%;
    
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}